In [109]:
# result=[([[466, 62], [718, 62], [718, 112], [466, 112]], 'KARTHICK', 0.9999798537223525), 
#  ([[481, 114], [741, 114], [741, 156], [481, 156]], 'General Manager', 0.8283988571795506), 
#  ([[576, 187], [803, 187], [803, 220], [576, 220]], '123 ABC St , Salem,', 0.9104906870905948),  
#  ([[574, 220], [814, 220], [814, 250], [574, 250]], 'TamilNadu 6004513', 0.7522201547840728),   
#  ([[564, 266], [768, 266], [768, 298], [564, 298]], '+123-456-7890', 0.5074627240960073), 
#  ([[598, 318], [864, 318], [864, 350], [598, 350]], 'hello@Borcelle.com', 0.9531449571013404), 
#  ([[598, 371], [847, 371], [847, 403], [598, 403]], 'www Borcelle.com', 0.5453895913218627), 
#  ([[78, 446], [340, 446], [340, 496], [78, 496]], 'BORCELLE', 0.9984024850504049), 
#  ([[81, 511], [319, 511], [319, 561], [81, 561]], 'AIRLINES', 0.985242861596538)] 


result=[([[47, 113], [156, 113], [156, 157], [47, 157]], 'Selva', 0.8874894091541627), 
 ([[52, 158], [278, 158], [278, 190], [52, 190]], 'DATA MANAGER', 0.9993089630288705), 
 ([[120, 224], [333, 224], [333, 254], [120, 254]], '+123-456-7890', 0.7200904901337779), 
 ([[120, 262], [330, 262], [330, 294], [120, 294]], '+123-456-7891', 0.7314826332200398), 
 ([[120, 318], [340, 318], [340, 350], [120, 350]], 'WWW XYZI.com', 0.6814776339654656), 
 ([[119, 355], [359, 355], [359, 391], [119, 391]], 'hello@XYZ1.com', 0.8672664459939208), 
 ([[121, 410], [411, 410], [411, 447], [121, 447]], '123 ABC St , Chennai;', 0.43137937658807757), 
 ([[725, 388], [908, 388], [908, 463], [725, 463]], 'selva', 0.9999268555996703), 
 ([[119, 445], [379, 445], [379, 481], [119, 481]], 'TamilNadu 600113', 0.9497879843832286),
 ([[694, 477], [942, 477], [942, 565], [694, 565]], 'digitals', 0.9388368793764972)]


# result=[([[126, 126], [402, 126], [402, 178], [126, 178]], 'Amit kumar', 0.8217942477635098), 
#  ([[125, 193], [393, 193], [393, 229], [125, 229]], 'CEO & FOUNDER', 0.9981913601976996), 
#  ([[172, 278], [342, 278], [342, 310], [172, 310]], '123-456-7569', 0.7599104170013044), 
#  ([[169, 331], [411, 331], [411, 371], [169, 371]], 'hello@global.com', 0.9396091445440375), 
#  ([[168, 388], [240, 388], [240, 412], [168, 412]], 'WWW', 0.9990257007900342), 
#  ([[241, 381], [393, 381], [393, 419], [241, 419]], 'global.com', 0.6216656909536002), 
#  ([[167, 428], [308, 428], [308, 472], [167, 472]], '123 global', 0.980461343008494), 
#  ([[349, 427], [449, 427], [449, 472], [349, 472]], 'Erode,', 0.8696428830728805),    #There is a comma after the city name
#  ([[651, 410], [930, 410], [930, 484], [651, 484]], 'GLOBAL', 0.9998840214288347),          
#  ([[166, 472], [416, 472], [416, 504], [166, 504]], 'TamilNadu 600115', 0.9996330221302328), 
#  ([[590, 505], [986, 505], [986, 573], [590, 573]], 'INSURANCE', 0.9999763566844869), 
#  ([[305.1299778141514, 431.1289267866996], [354.76594631682207, 438.8383025469347], [349.8700221858486, 469.8710732133004], [299.23405368317793, 462.1616974530653]], 'St ,', 0.5235605239868164)]

In [20]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# Function to detect if a word is a noun
def is_noun(word):
    # Tokenize the word
    tokens = nltk.word_tokenize(word)
    
    # Perform POS tagging
    tagged = nltk.pos_tag(tokens)
    
    # Check if the word is tagged as a noun (NN)
    for _, tag in tagged:
        if tag == 'NN':
            return True
    return False

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sarav\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\sarav\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

In [40]:
state_lst=[
        'Andaman & Nicobar',
        'AndhraPradesh',
        'ArunachalPradesh',
        'Assam',
        'Bihar',
        'Chandigarh',
        'Chhattisgarh',
        'Dadra and Nagar Haveli and Daman and Diu',
        'Delhi',
        'Goa',
        'Gujarat',
        'Haryana',
        'HimachalPradesh',
        'Jammu & Kashmir',
        'Jharkhand',
        'Karnataka',
        'Kerala',
        'Ladakh',
        'Lakshadweep',
        'MadhyaPradesh',
        'Maharashtra',
        'Manipur',
        'Meghalaya',
        'Mizoram',
        'Nagaland',
        'Odisha',
        'Puducherry',
        'Punjab',
        'Rajasthan',
        'Sikkim',
        'TamilNadu',
        'Telangana',
        'Tripura',
        'UttarPradesh',
        'Uttarakhand',
        'WestBengal']

In [42]:
print(state_lst)

['Andaman & Nicobar', 'AndhraPradesh', 'ArunachalPradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'HimachalPradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'MadhyaPradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'UttarPradesh', 'Uttarakhand', 'WestBengal']

In [45]:
print([items.lower() for items in state_lst])

['andaman & nicobar', 'andhrapradesh', 'arunachalpradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra and nagar haveli and daman and diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachalpradesh', 'jammu & kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhyapradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamilnadu', 'telangana', 'tripura', 'uttarpradesh', 'uttarakhand', 'westbengal']

In [21]:
word='apple'
if is_noun(word):
    print(f"{word} is a noun")
else:
    print(f"{word} is not a noun")

apple is a noun

In [105]:
import india
city_lst=list()

for items in india.CITIES:
    city_lst.append(str(items))

In [122]:
result=[([[26, 87], [325, 87], [325, 143], [26, 143]], 'SANTHOSH', 0.999971424267591), 
 ([[42, 147], [343, 147], [343, 198], [42, 198]], 'Technical Manager', 0.7167103817008842), 
 ([[102, 259], [459, 259], [459, 291], [102, 291]], '123 ABC St , Tirupur; TamilNadu,', 0.482198127878888), 
 ([[236, 292], [324, 292], [324, 320], [236, 320]], '641603', 0.7935126245291695),                          
 ([[112, 315], [310, 315], [310, 348], [112, 348]], '+123-456-1234', 0.7556362797475622), 
 ([[176, 368], [383, 368], [383, 408], [176, 408]], 'hello@Sun.com', 0.8757734660247763), 
 ([[178, 426], [364, 426], [364, 454], [178, 454]], 'www.Suncom', 0.6085991995359809), 
 ([[506, 492], [1000, 492], [1000, 568], [506, 568]], 'Sun Electricals', 0.8029833031157146)]

processed_data=list()
for detection in result:
    text=detection[1]
    processed_text = text.replace(';', '').replace(',', '')  # Replace both ; and ,
    processed_data.append(processed_text)

processed_data

['SANTHOSH',
 'Technical Manager',
 '123 ABC St  Tirupur TamilNadu',
 '641603',
 '+123-456-1234',
 'hello@Sun.com',
 'www.Suncom',
 'Sun Electricals']

In [212]:
lst_of_items=list()
noun_lst=list()
not_noun_lst=list()
processed_data=list()
details_dict={"Name": [],
        "Designation": [],
        "Organization Name": [],
        "State": [],
        "City": [],
        "Pincode": [],
        "Area": [],
        "Phone number": [],
        "Email ID": [],
        "Website": []}

##Preprocessing the data to remove extra commas and semi-colons
for detection in result:
    text=detection[1]
    processed_text = text.replace(';', '').replace(',', '')  # Replace both ; and ,
    processed_data.append(processed_text)
    
for index,detection in enumerate(processed_data):
    text=detection
    lst_of_items.append(text)
    print(text)
    if (('+' in text) or ('-' in text)) and any(items.isdigit() for items in text):
        details_dict['Phone number'].append(text)
        not_noun_lst.append(text)
    elif ("@" not in text.lower()) and ("www" in text.lower() or ".com" in text.lower()):
        details_dict['Website'].append(text)
        not_noun_lst.append(text)
    elif "@" in text.lower():
        details_dict['Email ID'].append(text)
        not_noun_lst.append(text)
    elif text.isdigit() and (len(text)==6 or len(text)==7):
        details_dict['Pincode'].append(text)
        not_noun_lst.append(text)
    elif text.lower() in [items.lower() for items in state_lst]:
        details_dict['State'].append(text)
    elif text.lower() in [items.lower() for items in city_lst]:
        details_dict['City'].append(text)
        details_dict['Area'].append(text)
    elif index==0:
        details_dict['Name'].append(text)
    elif index==1:
        details_dict['Designation'].append(text)
    elif is_noun(text.lower()):
        noun_lst.append(text)
    else:
        not_noun_lst.append(text)

## Iterating over the Noun list 
print("\n")
print("The noun list items begins from here")
for noun_items in noun_lst:
    if len(noun_items.split())>1:
        for items in noun_items.split():
            print(items)
            if items.lower() in [items.lower() for items in state_lst]:
                # print(f"The {items} is a state")
                details_dict['State'].append(items)
            elif items.lower() in [items.lower() for items in city_lst]:
                details_dict['City'].append(items)
                details_dict['Area'].append(items)
            elif items.isdigit() and (len(items)==6 or len(items)==7):
                # print(f"{items} is a pincode")
                details_dict['Pincode'].append(items)

# Code to set the Organization Name 
final_items=list()
for items in details_dict.values():
    for vals in items:
        final_items.append(vals)

# Convert final_items to a set for faster lookup
final_items_set = set(final_items)
# print(final_items_set)

# Create a new list to store items not present in final_items
updated_lst_of_items = []

# Iterate through lst_of_items
for item in lst_of_items:
    # Check if any part of the item is present in final_items
    if not any(part in final_items_set for part in item.split()):
        # If not present, add the item to updated_lst_of_items
        updated_lst_of_items.append(item)

# Update lst_of_items with updated_lst_of_items
lst_of_items = updated_lst_of_items
# print("Lst of items before last check")
print(lst_of_items)
print(final_items)

#One final check 
for items in lst_of_items:
    # print(f'{items} being processed')
    if (items not in final_items) and (not any(char.isdigit() for char in items)) and ('st ' not in items.lower() or 'st' not in items.lower() or len(items)>3):
        details_dict['Organization Name'].append(items)
        # continue
    # elif items not in final_items:
    #     details_dict['Organization Name'].append(items)

print(details_dict)

Selva
DATA MANAGER
+123-456-7890
+123-456-7891
WWW XYZI.com
hello@XYZ1.com
123 ABC St  Chennai
selva
TamilNadu 600113
digitals


The noun list items begins from here
123
ABC
St
Chennai
TamilNadu
600113
['DATA MANAGER', 'WWW XYZI.com', 'selva', 'digitals']
['Selva', 'DATA MANAGER', 'TamilNadu', 'Chennai', '600113', 'Chennai', '+123-456-7890', '+123-456-7891', 'hello@XYZ1.com', 'WWW XYZI.com']
{'Name': ['Selva'], 'Designation': ['DATA MANAGER'], 'Organization Name': ['selva', 'digitals'], 'State': ['TamilNadu'], 'City': ['Chennai'], 'Pincode': ['600113'], 'Area': ['Chennai'], 'Phone number': ['+123-456-7890', '+123-456-7891'], 'Email ID': ['hello@XYZ1.com'], 'Website': ['WWW XYZI.com']}

In [241]:
my_dict={'Name': ['Selva'], 'Designation': ['DATA MANAGER'], 'Organization Name': ['selva', 'digitals'], 'State': ['TamilNadu'], 'City': ['Chennai'], 'Pincode': ['600113'], 'Area': ['Chennai'], 'Phone number': ['+123-456-7890', '+123-456-7891'], 'Email ID': ['hello@XYZ1.com'], 'Website': ['WWW XYZI.com']}

## Logic to unpack all the elements in the list and store them as a string in the Dictionary
for item in my_dict:
    if item=='Organization Name' and len(my_dict[item])>1:
        # print(item, my_dict[item][0]+' '+my_dict[item][1])
        my_dict[item]=my_dict[item][0]+' '+my_dict[item][1]
    elif item=='Website':
        if my_dict[item][0][3]=='.':
            print(item,my_dict[item])
        else:
            my_dict[item]=my_dict[item][0][0:3]+'.'+my_dict[item][0][4:]
    else:
        if item!="Phone number":
            if isinstance(my_dict[item], list):
                my_dict[item] = ' '.join(my_dict[item])
            else:
                my_dict[item] = my_dict[item]
        elif item=="Phone number" and len(my_dict[item])==1:
            if isinstance(my_dict[item], list):
                my_dict[item] = ' '.join(my_dict[item])
            else:
                my_dict[item] = my_dict[item]

print(my_dict)

{'Name': 'Selva', 'Designation': 'DATA MANAGER', 'Organization Name': 'selva digitals', 'State': 'TamilNadu', 'City': 'Chennai', 'Pincode': '600113', 'Area': 'Chennai', 'Phone number': ['+123-456-7890', '+123-456-7891'], 'Email ID': 'hello@XYZ1.com', 'Website': 'WWW.XYZI.com'}

In [242]:
import pandas as pd

In [255]:
#Logic to convert the dictionary to a dataframe 
my_dict['Phone number'] = str(my_dict['Phone number'])
df=pd.DataFrame(my_dict,index=[0])
df2=df.T

In [256]:
df2

                                                    0
Name                                            Selva
Designation                              DATA MANAGER
Organization Name                      selva digitals
State                                       TamilNadu
City                                          Chennai
Pincode                                        600113
Area                                          Chennai
Phone number       ['+123-456-7890', '+123-456-7891']
Email ID                               hello@XYZ1.com
Website                                  WWW.XYZI.com

In [237]:
data = {
    'Name': ['Selva'],
    'Designation': ['DATA MANAGER'],
    'Organization Name': ['selva', 'digitals'],
    'State': ['TamilNadu'],
    'City': ['Chennai'],
    'Pincode': ['600113'],
    'Area': ['Chennai'],
    'Phone number': ['+123-456-7890', '+123-456-7891'],
    'Email ID': ['hello@XYZ1.com'],
    'Website': ['WWW.XYZI.com']
}

for key, value in data.items():
    if key != 'Phone number':
        if isinstance(value, list):
            data[key] = ' '.join(value)
        else:
            data[key] = value

print(data)

{'Name': 'Selva', 'Designation': 'DATA MANAGER', 'Organization Name': 'selva digitals', 'State': 'TamilNadu', 'City': 'Chennai', 'Pincode': '600113', 'Area': 'Chennai', 'Phone number': ['+123-456-7890', '+123-456-7891'], 'Email ID': 'hello@XYZ1.com', 'Website': 'WWW.XYZI.com'}

In [234]:
my_dict['Website'][0]

'WWW XYZI.com'

In [135]:
final_items=list()
for items in details_dict.values():
    for vals in items:
        final_items.append(vals)

final_items

['SANTHOSH',
 'Technical Manager',
 'TamilNadu',
 'Tirupur',
 '641603',
 'Tirupur',
 '+123-456-1234',
 'hello@Sun.com',
 'www.Suncom']

In [151]:
lst_of_items = ['SANTHOSH', 'Technical Manager', '123 ABC St  Tirupur TamilNadu', '641603', '+123-456-1234', 'hello@Sun.com', 'www.Suncom', 'Sun Electricals']
final_items = ['SANTHOSH', 'Technical Manager', 'TamilNadu', 'Tirupur', '641603', 'Tirupur', '+123-456-1234', 'hello@Sun.com', 'www.Suncom']

# Convert final_items to a set for faster lookup
final_items_set = set(final_items)
print(final_items_set)

# Create a new list to store items not present in final_items
updated_lst_of_items = []

# Iterate through lst_of_items
for item in lst_of_items:
    # Check if any part of the item is present in final_items
    if not any(part in final_items_set for part in item.split()):
        # If not present, add the item to updated_lst_of_items
        updated_lst_of_items.append(item)

# Update lst_of_items with updated_lst_of_items
lst_of_items = updated_lst_of_items
updated_lst_of_items=[]
print("Lst of items before last check")
print(lst_of_items)

#One final check 
for items in lst_of_items:
    if items not in final_items:
        details_dict['Organization Name'].append(items)

{'Technical Manager', 'TamilNadu', '+123-456-1234', 'www.Suncom', 'SANTHOSH', 'hello@Sun.com', 'Tirupur', '641603'}
Lst of items before last check
['Technical Manager', 'Sun Electricals']

In [152]:
details_dict

{'Name': ['SANTHOSH'],
 'Designation': ['Technical Manager'],
 'Organization Name': ['Sun Electricals'],
 'State': ['TamilNadu'],
 'City': ['Tirupur'],
 'Pincode': ['641603'],
 'Area': ['Tirupur'],
 'Phone number': ['+123-456-1234'],
 'Email ID': ['hello@Sun.com'],
 'Website': ['www.Suncom']}

In [149]:
list(details_dict.values())

[['SANTHOSH'],
 ['Technical Manager'],
 [],
 ['TamilNadu'],
 ['Tirupur'],
 ['641603'],
 ['Tirupur'],
 ['+123-456-1234'],
 ['hello@Sun.com'],
 ['www.Suncom']]

In [140]:
lst_of_items = ['SANTHOSH', 'Technical Manager', '123 ABC St  Tirupur TamilNadu', '641603', '+123-456-1234', 'hello@Sun.com', 'www.Suncom', 'Sun Electricals']
final_items = ['SANTHOSH', 'Technical Manager', 'TamilNadu', 'Tirupur', '641603', 'Tirupur', '+123-456-1234', 'hello@Sun.com', 'www.Suncom']

# Create a new list to store items not present in final_items
updated_lst_of_items = []

# Iterate through lst_of_items
for item in lst_of_items:
    # Split the item into parts
    parts = item.split()

    # Flag to check if any part is found in final_items
    found = False

    # Iterate through parts
    for part in parts:
        # Check if the part is present in final_items
        if part in final_items:
            # If found, set flag to True
            found = True
            break

    # If none of the parts are found in final_items, add the item to updated_lst_of_items
    if not found:
        updated_lst_of_items.append(item)

# Update lst_of_items with updated_lst_of_items
lst_of_items = updated_lst_of_items

print(lst_of_items)

['Technical Manager', 'Sun Electricals']

In [104]:
'Chennai' in city_lst

True